<div class="container-fluid section-info header">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center header-cotizador">
            <div class="py-2 px-4">
                <img src="/assets/Imagenes/logo-white.svg" class="img-main">
            </div>
            <div class="d-flex flex-column mb-3">
                <div class="text-center text-white p-normal">
                    <p class="mb-3">Da click en el mapa y selecciona el lote a cotizar</p>
                </div>
                <div class="d-flex justify-content-center my-0 py-0">
                    <div class="text-white p-normal d-flex align-items-center">
                        <div class="circulo disponible"></div><strong>DISPONIBLE</strong>
                    </div>
                    <div class="text-white p-normal d-flex align-items-center mx-3">                
                        <div class="circulo apartado"></div><strong>APARTADO</strong>
                    </div>
                    <div class="text-white p-normal d-flex align-items-center">                
                        <div class="circulo vendido"></div><strong>VENDIDO</strong>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
<div class="container-fluid bg-white py-4 px-0">
    <div class="container px-0">
        <div class="section-mapa w-100">
            <div class="cuadro">
                <ul class="nav nav-tabs" role="tablist">
                    @for(etapa of arrayEtapas; track $index) {
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" 
                                [class.active]="activePath === etapa.path_svg"
                                id="etapa-tab" 
                                data-bs-toggle="tab" 
                                [attr.data-bs-target]="'#etapa'+etapa.iEtapa" 
                                type="button" 
                                role="tab" 
                                [attr.aria-controls]="'etapa'+etapa.iEtapa" 
                                [attr.aria-selected]="$index == 0 ? 'true' : 'false'"
                                [routerLink]="[etapa.path_svg]" >
                                {{ etapa.sEtapa }}
                            </a>
                        </li>
                    }      
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade p-2 show active" 
                        id="etapa0" 
                        role="tabpanel" 
                        aria-labelledby="etapa-tab0">
                        <router-outlet /> 
                    </div>
                  </div>
                <div class="svg">
                </div>
            </div>
        </div>
    </div>
</div>